<!-- build:process -->
<!--
<%= copyright %>
Element: <%= pkg.name %>
Version: <%= pkg.version %>
Description: <%= pkg.description %>
-->
<!-- /build -->

<link rel="import" href="../lib/polymer/polymer.html">
<link rel="import" href="../lib/grapp-fa-icon/grapp-fa-icon.html">

<dom-module id="grapp-breadcrumb">

  <template>

    <!-- build:style inline grapp-breadcrumb -->
    <link rel="stylesheet" href="grapp-breadcrumbs.css">
    <!-- /build -->

    <span>
      <template is="dom-if" if="[[href]]">
        <a href="[[href]]">
          <span>[[label]]</span>
          <content></content>
        </a>
      </template>
      <template is="dom-if" if="[[!href]]">
        <span>[[label]]</span>
        <content></content>
      </template>
    </span>
    <grapp-fa-icon icon="caret-right"></grapp-fa-icon>
  </template>

  <!-- build:script inline grapp-breadcrumb -->
  <script src="grapp-breadcrumb.js"></script>
  <!-- /build -->

</dom-module>


<dom-module id="grapp-breadcrumbs">

  <template>
    <div id="crumbs" hidden$="[[!render]]">
    </div>
  </template>

  <!-- build:script inline grapp-breadcrumbs -->
  <script src="grapp-breadcrumbs.js"></script>
  <!-- /build -->

</dom-module>
